In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Dell\Downloads\airbnb_newyork_2019.csv")

In [4]:
df.info()
df.shape[0]
df.shape[1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

16

In [15]:
## missing values per column
missing_values_count = df.isnull().sum()
print(missing_values_count)

## total missing values
total_missing = missing_values_count.sum()
print(total_missing)

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64
0

In [ ]:
# fill missing value in reviews_per_month with 0 ( no reviews )

df['reviews_per_month'].fillna(0, inplace=True)

# Fill missing text columns with "Unknown"

df['name'].fillna("Unknown", inplace=True)
df['host_name'].fillna("Unknown", inplace=True)


# drop last_review column because it's not always needed
df.drop(columns="last_review", inplace=True)

In [ ]:
# Remove duplicates

df = df.drop_duplicates()

In [ ]:
#Check how many types in room column

print(df["room_type"].unique())

['Private room' 'Entire home/apt' 'Shared room']

In [ ]:
x = df['neighbourhood'].unique()
x.sort()
x

In [35]:
y = df['minimum_nights']
print(y)

0         1
1         1
2         3
3         1
4        10
         ..
48890     2
48891     4
48892    10
48893     1
48894     7
Name: minimum_nights, Length: 48895, dtype: int64

In [21]:
print(df['price'].describe())

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [ ]:
## Filter rows where price equals max_price


df_max_price = df[df['price'] == 10000]
print(df_max_price)

In [ ]:
# Normalize numerical data (for ML)

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['price_scaled'] = scaler.fit_transform(df[['price']])

In [ ]:
print(df[df['name'].isna()])

In [30]:
df.to_csv(r"C:\Users\Dell\Downloads\airbnb_nyc_cleaned.csv", index=False)